.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #7da439;
  border-radius: 30px;
  background-color: #328567;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #2f7418 100px
    ),
    repeating-linear-gradient(#23468355, #1e2a3e);
}

.flex {
  display: flex;
}
